<%include partials/head.ejs%>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light custom-bar">
            <!-- <a class="navbar-brand" href="/"><img src="images/logo.png" alt=""></a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav navbar-nav-custom">
                    <li class="nav-item active m-4">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item m-4">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item m-4">
                        <a class="nav-link" href="/jobs">Jobs</a>
                    </li>
                    <li class="nav-item m-4">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item m-4">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>

                    <%if (currentUser){%>
                    <li class="nav-item m-4">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    <li class="nav-item m-4">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </nav>
    </header>

    <div id="cover" class="">
    </div>


    <section id="landingPage">
        <div class="row" id="landingBrand">
            <div class="col-12" style="z-index: 300">
                <div id="landingImgContainer" class="d-flex justify-content-center">
                    <img src="images/logo.png" alt="">
                </div>
            </div>
        </div>

        <div id="landingCards" class="container d-flex justify-content-around">
            <div class="row" style="width:100%">
                <div class="col-sm-12 col-lg-6">
                    <div class="card custom-card">
                        <div class="card-header text-black">
                            Latest Jobs
                        </div>
                        <div class="card-body">
                            <h4 class="card-title mb-5 text-black">Subscribe to our latest jobs</h4>

                            <% if(error && error.length > 0) { %>

                            <div class='alert alert-danger' role='alert'>
                                <%= error %>
                            </div>
                            <% } %>
                            <% if(success && success.length > 0) { %>
                            <div class='alert alert-success' role='alert'>
                                <%= success %>
                            </div>

                            <% } %>


                            <form class="mb-2 row justify-content-around change-form" action="/subscribe" method="post">
                                <input class="form-control1 form-control-custom mb-3 col-5 " type="text" name="name"
                                    id="fullname" placeholder="Full Name">
                                <input class="form-control1 form-control-custom mb-3 col-5" type="email" name="email"
                                    id="email" placeholder="E-Mail">
                                <button type="submit"
                                    class="btn btn-primary btn-custom mt-4 button-margin">Subscribe</a>
                            </form>


                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="card custom-card">
                        <div class="card-header text-black">
                            Latest Blog Post
                        </div>
                        <div class="card-body">
                            <h4 class="card-title mb-5 text-black"><a class="text-black" href="/blog_<%=blog[0].id%>">

                                    <% if(blog[0].post_title) { %>

                                    <%if (blog[0].post_title.length <= 30){ %>
                                    <%=blog[0].post_title%></h4>
                            <% } else { %>


                            <%=blog[0].post_title.slice(0,30)+' ....'%></h4>
                            <% } %>
                            <% } %>
                            </a>
                            
                            <% if(blog[0].post_title2) { %>

                            <p class="margin-b-2 text-black">

                               <% if(blog[0].post_title2.length <= 50){ %>
                                    <%=blog[0].post_title2%>
                             <%   } else { %>
                                    <%=blog[0].post_title2.slice(0,50)+' ....'%>
                             <%  } %>


                                 

        
                            </p>
                            <%  } else { %>

                                <p>hi</p>
                                <% } %>

                                


                            <a href="/blog" class="btn btn-primary btn-custom mt-4">Blog</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <%include partials/scripts%>

</body>

</html>